	@font-face {
		font-family: 'SuicideSquad';							/* Name of the Fonts. Can be Customisable. */
		src: url('../Font/SuicideSquadFont.ttf') format('truetype');		/* Source of the .ttf (the Font format)*/
		font-weight: normal;
		font-style: normal;
	}
	
	/* Fonts usable for Minecraft Font : 'Minecraftia' , 'MCFont' , 'MC' */
	
	.SuicideSquad {
		font-family: 'SuicideSquad';
	}





