	@font-face {
		font-family: 'JandaHideAndSeek';							/* Name of the Fonts. Can be Customisable. */
		src: url('../Font/JandaHideAndSeek.ttf') format('truetype');		/* Source of the .ttf (the Font format)*/
		font-weight: normal;
		font-style: normal;
		text-align: center;
	}
	
	/* Fonts usable for Minecraft Font : 'Minecraftia' , 'MCFont' , 'MC' */
	
	.JandaHideAndSeek {
		font-family: 'JandaHideAndSeek';
	}





