
	@font-face {
		font-family: 'MCFont';							/* Name of the Fonts. Can be Customisable. */
		src: url('../Font/BangLYCH-RH-I.ttf') format('truetype');		/* Source of the .ttf (the Font format)*/
		font-weight: normal;
		font-style: normal;
	}
	
	/* Fonts usable for Minecraft Font : 'Minecraftia' , 'MCFont' , 'MC' */
	
	.HorrorFont {
		font-family: 'HorrorFont';
	}





