body{
background-color : #CCCCFF;
text-align: center;
}

.important{
	font-family: 'MC';
	font-size : 48px ;
	text-align: center;
}

p{
	text-align : center;
	font-family : normal;
	font-size : 28px ;
}

.TDI{
	font-family: 'HorrorFont';
	font-size : 72px ;
	color : black;
	text-align: center;
	
}

.Titre{
	font-family: 'SuicideSquad';
	font-size : 72px ;
	color : black;
	text-align: center;
}

.affiche{
	font-family: 'Daywalker';
	font-size : 28px ;
	text-align : center;
}

label.tipe{
	font-family: 'JandaHideAndSeek';
	font-size : 28px ;

}

.myform{
	text-align : center;
}

form{
	text-align: center;
}

label{
	font-family: 'JandaHideAndSeek';
	font-size : 28px ;
	text-align : center;
	font-weight : 900;
}

h1{
text-align : center;
color : blue;	/* #0000FF */
}

h2{
font-style : italic;
font-family : Arial Black;
color : red;
}

.D{
	width: 300px;
}

.HD{
	object-position: 50% 0%;
	top: -125px;
	right: 200px;
}

.HD2{
	object-position: right top;
	width: 300px;

}

.DD2{
	object-position: left top;
	width: 300px;


}




